<div class="container">
  <div class="row" style="margin: 40px 0;">
    <div class="col-lg-12">
      <div class="title-background" style="background-color: #f0f0f0; padding: 0px 20px; border-radius: 4px; display: inline-block; margin-bottom: 20px;"
        <h4 style="margin: 0;">定期購入詳細</h4>
      </div>

      <table class="table">
        <tr>
          <th>会員名</th>
          <td><%= @subscription.customer.last_name %><%= @subscription.customer.first_name %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @subscription.customer.email %></td>
        </tr>
        <tr>
          <th>商品名</th>
          <td><%= @subscription.item.name %></td>
        </tr>
        <tr>
          <th>数量</th>
          <td><%= @subscription.quantity %></td>
        </tr>
        <tr>
          <th>商品画像</th>
          <td><%= image_tag @subscription.item.get_image(150, 150) if @subscription.item.image.attached? %></td>
        </tr>
        <tr>
          <th>次回配送日</th>
          <td><%= @subscription.next_delivery_date %></td>
        </tr>
        <tr>
          <th>ステータス</th>
          <td><%= @subscription.status %></td>
        </tr>
      </table>

      <div class="mt-3">
        <%= link_to "編集する", edit_admin_subscription_path(@subscription), class: "btn btn-success" %>
        <%= link_to "一覧に戻る", admin_subscriptions_path, class: "btn btn-secondary" %>
        <%= link_to "削除する", admin_subscription_path(@subscription), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
      </div>
</div>
