<div class = "container">
  <div class="row" style="margin: 40px 0;">
    <div class="col-lg-12 d-flex align-items-center justify-content-between">
      <div class="title-background" style="background-color: #f0f0f0; padding: 0px 20px; border-radius: 4px; display: inline-block;">
        <h4 style="margin: 0;">クーポン一覧</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <table class="table">
        <thead>
          <tr style="background-color: #f0f0f0;"> 
            <th>コード</th>
            <th>割引金額</th>
            <th>最低注文金額</th>
            <th>状態</th>
            <th>会員</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <% @coupons.each do |coupon| %>
            <tr>
              <td><%= coupon.code %></td>
              <td><%= coupon.discount_price %>円</td>
              <td><%= coupon.minimum_order_amount %>円</td>
              <td><%= coupon.is_active ? "有効" : "無効" %></td>
              <td>
                <% if coupon.coupon_usages.any? %>
                  <ul>
                    <% coupon.coupon_usages.each do |usage| %>
                      <li><%= usage.customer.email %>（<%= usage.created_at.strftime('%Y/%m/%d') %>）</li>
                    <% end %>
                  </ul>
                <% else %>
                  使用履歴なし
                <% end %>
              </td>
              <td>
                <%= link_to "編集する", edit_admin_coupon_path(coupon), class: "btn btn-success" %>
                <%= link_to "削除する", admin_coupon_path(coupon), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
     </div> 
   </div>

  <%= link_to "新規クーポン作成", new_admin_coupon_path, class: "btn btn-primary" %>
</div>