<div class='container-fluid container-sidber'>
  <div class='row no-gutters  bg-white'>
    <div class='col-md-10'>
      <div class="p-3 mb-2">
      <%= content_tag :div, class: "product-header" do %>
        <%= content_tag :span, "商品一覧", class: "header-text", style: "font-weight: bold;" %>
        <%= content_tag :span, "（全#{@total_item_count}件）", class: "count-text" %>
      <% end %>
      </div>
      <div class="row">
        <% @items.each do |item| %>
          <div class="col-md-3 mb-5">
            <div class="card border-0 mx-auto mt-4" style="height: auto;">
              <div class="card-body py-0">
                <%= link_to item_path(item) do %>
                  <%= image_tag item.get_image(300, 300), class: "card-img-top" %>
                <% end %>
                <p class="card-title"><%= item.name %></p>
                <p class="card-text">¥<%= number_with_delimiter(item.price_excluding_tax) %></p>
                <% if customer_signed_in? %>
                  <% if current_customer.favorite_items.exists?(item.id) %>
                    <%= button_to item_favorite_path(item), method: :delete, class: "favorite-button" do %>
                      <span style="color:red;">♥</span>
                    <% end %>
                  <% else %>
                    <%= button_to item_favorite_path(item), method: :post, class: "favorite-button" do %>
                      <span style="color:gray;">♡</span>
                    <% end %>
                  <% end %>
                <% end %>                 
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <h2>商品検索</h2>

<%= form_with url: items_path, method: :get, local: true do |f| %>
  <div>
    <%= f.label :keyword, "キーワード検索" %>
    <%= f.text_field :keyword, value: params[:keyword] %>
  </div>

  <div>
    <%= f.label :category_id, "カテゴリ" %>
    <%= f.collection_select :category_id, Category.all, :id, :name,
        include_blank: "指定なし", selected: params[:category_id] %>
  </div>

  <div>
    <%= f.label :min_price, "最低価格" %>
    <%= f.number_field :min_price, value: params[:min_price] %> 円 〜
    <%= f.label :max_price, "最高価格" %>
    <%= f.number_field :max_price, value: params[:max_price] %> 円
  </div>

  <div>
    <%= f.label :in_stock, "在庫ありのみ" %>
    <%= f.check_box :in_stock, {}, "true", "false" %>
  </div>

  <div>
    <%= f.label :sort, "並び替え" %>
    <%= f.select :sort,
      [["新着順", "newest"], ["価格が安い順", "price_asc"], ["価格が高い順", "price_desc"]],
      { include_blank: "指定なし", selected: params[:sort] } %>
  </div>

  <%= f.submit "検索" %>
<% end %>

<hr>

<h3>商品一覧</h3>
<ul>
  <% @items.each do |item| %>
    <li>
      <%= link_to item.name, item_path(item) %> |
      <%= number_to_currency(item.price) %> |
      在庫: <%= item.stock %>
    </li>
  <% end %>
</ul>


    <div class="pagination-container text-center">
      <%= paginate @items %>
    </div>

  </div>
</div>
